CompileFlags:
  Remove:
    - -mlongcalls
    - -fno-shrink-wrap
    - -fstrict-volatile-bitfields
    - -fno-tree-switch-conversion
    - -fanalyzer
    - -ffixed-r2
    - -ffixed-r3
    - -ffixed-r4
    - -fzero-init-padding-bits
    - -fno-malloc-dce
  Add:
    - -Wno-missing-field-initializers
